
<div class="form-page-wrapper">
  <mat-card class="form-card large-form animate__animated animate__fadeIn">
    <mat-card-header>
      <mat-card-title>יצירת משימה חדשה</mat-card-title>
      <mat-card-subtitle>פרויקט מספר: {{ projectId() }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()" class="task-grid-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>כותרת המשימה</mat-label>
          <input matInput formControlName="title">
          <mat-icon matSuffix>edit_note</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>תיאור המשימה</mat-label>
          <textarea matInput formControlName="description" rows="2"></textarea>
        </mat-form-field>

        <div class="form-row-grid">
          <mat-form-field appearance="outline">
            <mat-label>סטטוס</mat-label>
            <mat-select formControlName="status">
              <mat-option value="todo">לביצוע</mat-option>
              <mat-option value="in_progress">בתהליך</mat-option>
              <mat-option value="done">הושלם</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>עדיפות</mat-label>
            <mat-select formControlName="priority">
              <mat-option value="low">נמוכה</mat-option>
              <mat-option value="medium">בינונית</mat-option>
              <mat-option value="high">גבוהה</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row-grid">
          <mat-form-field appearance="outline">
            <mat-label>תאריך יעד</mat-label>
            <input matInput type="date" formControlName="due_date">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>מזהה אחראי</mat-label>
            <input matInput type="number" formControlName="assigned_id">
          </mat-form-field>
        </div>

        @if (errorMass()) { <div class="error-msg-box">{{ errorMass() }}</div> }

        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="addTaskForm.invalid">
            <mat-icon>playlist_add</mat-icon> הוסף לרשימה
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
