<header>
  <nav>
    <div class="nav-left">
      <a class="logo" routerLink="/teams">מערכת ניהול</a>


      @if (isLoggedIn()) {
      <a routerLinkActive="active" routerLink="/teams" [routerLinkActiveOptions]="{ exact: true }">קבוצות</a>

      }
    </div>

    <div class="nav-right">

      @if (isLoggedIn()) {
      @if (currentUser()) {
      <span class="username">
        <span class="user-icon">👤</span>
        {{ currentUser() }}
      </span>
      }

      <button class="btn-logout" (click)="logout()">
        התנתק
      </button>
      }

      @else {
      <a routerLinkActive="active" routerLink="/register">הרשמה</a>
      <a routerLinkActive="active" routerLink="/login">התחבר</a>
      }
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>