
<div class="login-container">
  <h2>התחברות</h2>
  

  @if (errorMass()) {
    <div class="error-message">
      {{ errorMass() }}
      
      @if (errorMass()?.includes('לא קיים')) {
        <button class="link-button" (click)="goToRegister()">
          עבור להרשמה
        </button>
      }
    </div>
  }
  

  @if (successMessage()) {
    <div class="success-message">
       {{ successMessage() }}
    </div>
  }

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">אימייל</label>
      <input 
        id="email" 
        formControlName="email" 
        type="email"
        placeholder="example@email.com"
        [class.invalid]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
      />
      
      @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
        <div class="field-error">
          נא להזין אימייל תקין
        </div>
      }
    </div>

    <div class="form-group">
      <label for="password">סיסמה</label>
      <input 
        id="password" 
        formControlName="password" 
        type="password"
        placeholder="לפחות 6 תווים"
        [class.invalid]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
      />
      
      @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
        <div class="field-error">
          סיסמה חובה ולפחות 6 תווים
        </div>
      }
    </div>

    <button type="submit" [disabled]="loginForm.invalid">
      התחבר
    </button>
  </form>

  <p class="register-link">
    אין לך חשבון? 
    <a (click)="goToRegister()">הירשם כאן</a>
  </p>
</div>